$backColor:#F3F3F3;
.newCart{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.newCart__top{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:$backColor;
}

.cartItem{
  display: flex;
  flex-direction: row;
  background-color: white;
  min-height: 18vh;
  border-radius: 2vh;
  width: 95%;
  margin-top: 0.7vh;
  margin-bottom: 0.7vh;
  box-sizing: border-box;
  padding:1vw 1vw 1vw 1vw;
}
.cartItem__left{
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cartItem__left__img{
  width: 40px;
  height: 40px;
}
.cartItem__Right{
  width: 90%;
}
.newCart__footer{
  height: 10%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.newCart__footer__left{
  margin-left: 20px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 36px;
  color: #030303;
}
.newCart__footer__img{
  width: 40px;
  height: 40px;
}
.newCart__footer__right{
  width: 50%;
  padding: 10px 10px 10px 50px;
}
.newCart__footer__button{
  margin-right: 20px;

}
