.index {
  flex-direction: column;
  width: 100%;
}
/*商品推荐*/
.grid-header{
  display: flex;
  height: 50px;
  flex-direction:row;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
.grid-header__title {
  color: #444444;
  margin-left: 5px;
  font-size: 35px;
  font-weight: 500;

}
.grid-header__more{
  margin-right: 20px;
  color: #5A5A5A;
  font-size: 27px;
}
.goodsItem{
  height: 461px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  justify-content: center;
  //background: pink;
}
.goodsItem_img{
  width: 100%;
  height: 310px;
  border-radius: 12px;
}
.goodsItem_title{
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #444444;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.goodsItem_subTitle{
  font-size: 25px;
  color: #795a4d;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.goodsItem_price{
  font-weight: bold;
  color: black;
  font-size: 30px;
}

