$titleColor:#444444;
.shopList__header{
  display: flex;
  height: 50px;
  flex-direction:row;
  padding: 25px 20px 5px;
  align-items: center;
  justify-content: space-between;
}
.shopList__header__title {
  color: $titleColor;
  margin-left: 5px;
  font-size: 35px;
  font-weight: 500;
}
.shopList__header__more{
  margin-right: 20px;
  color: #5A5A5A;
  font-size: 27px;
}
.shopList__item{
  height: 260px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  margin: 10px 0px;
  padding: 20px 20px;
  //background: pink;
}

.shopList__item__img{
  height: 100%;
  width: 45%;
  border-radius: 8px;
}
.shopList__item_text{
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  overflow: hidden;
}
.shopList__item__text_title{
  color: $titleColor;
  font-size: 35px;
  font-weight: 500;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.shopList__item__text_subTitle{
  font-size: 26px;
  color: #737373;
  height: 54%;
  //background-color: red;
  overflow: hidden;
}
.shopList__item_text__price{
  height: 25%;
  font-size: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  //background-color: yellow;
}
.shopList__item_text__price--old{
  font-size: 25px;
  color: #737373;
  text-decoration:line-through;
}
.shopList__item_text__price--new{
  margin-left: 20px;
  font-size: 36px;
  font-weight: 500;
  color: #E29700;
}
